@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@layer base{
  .custom-hover:hover::before {
    transform: scaleX(1);
  }
}



@layer base {
  @font-face {
    font-family: "Cheltenham";
    src: url("/assets/fonts/CheltenhamBT.ttf");
  }
}

  @font-face {
    font-family: "Nb International";
    src: url("/assets/fonts/NBInternationalRegularWebfontarWebfont.ttf");
  }

  @font-face {
    font-family: "Cheltenhm BdCn BT";
    src: url("/assets/fonts/CheltenhamBT-BoldCondensed.ttf");
  }

  @font-face {
    font-family: "Windings 3";
    src: url("/assets/fonts/Wingdings3.ttf");
  }
